name: "Terraform CI"

on:
  pull_request:
    branches:
      - main

jobs:
  terraform-static-analysis:
    permissions:
      contents: read
      pull-requests: write
    name: "Terraform Static Analysis"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Static Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
        uses: ./.github/actions/terraform-static-analysis

  terratest:
    permissions:
      contents: read
      pull-requests: write
    name: "Terratest"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Run Terratests
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
        uses: ./.github/actions/terratest
